<header class="site-header">
  <h3 class="site-title">
    <a href="{{ site.github.url }}/">{{ site.title }}</a>
  </h3>
  <nav class="menu-list">
    {% for item in site.data.settings.menu %}
      {% include menu.html item=item %}
    {% endfor %}
  </nav>
  <div class="mobile-menu-icon">
    <span>&#9776;</span> <!-- Biểu tượng hamburger -->
  </div>
  <div class="mobile-menu">
    <button class="close-mobile-menu">&times;</button>
    {% for item in site.data.settings.menu %}
      {% include mobile-menu.html item=item %}
    {% endfor %}
  </div>
</header>
