<header class="site-header">
  <h3 class="site-title">
    <a href="{{ site.github.url }}/">{{ site.title }}</a>
  </h3>
  <nav class="menu-list">
    <div class="menu-item">
      <a href="{{ site.github.url }}/maths" class="menu-link">Mathematics</a>
      <div class="submenu">
        <a href="{{ site.github.url }}/maths/algebra" class="menu-link">Algebra</a>
        <!-- Add more submenu items as needed -->
      </div>
    </div>
    <div class="menu-item">
      <a href="{{ site.github.url }}/ai" class="menu-link">Artificial Intelligence</a>
    </div>
    <div class="menu-item">
      <a href="{{ site.github.url }}/resources" class="menu-link">Learning Resources</a>
    </div>
    <div class="menu-item">
      <a href="{{ site.github.url }}/about" class="menu-link">About</a>
    </div>
    <div class="menu-item">
      <a href="{{ site.github.url }}/contact" class="menu-link">Contact</a>
    </div>
    <!-- Social links -->
    <div class="menu-item">
      <a href="https://x.com/hoathekiet" class="menu-link" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
    <div class="menu-item">
      <a href="https://www.facebook.com/hoathekiet/" class="menu-link" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </div>
    <div class="menu-item">
      <a href="https://www.instagram.com/hoathekiet/" class="menu-link" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>
  </nav>
  <div class="dropdown">
    <button class="dropbtn"><i class="fa fa-bars" aria-hidden="true"></i></button>
    <div class="dropdown-content">
      <div class="menu-item">
        <a href="{{ site.github.url }}/maths" class="menu-link">Mathematics</a>
        <div class="submenu">
          <a href="{{ site.github.url }}/maths/algebra" class="menu-link">Algebra</a>
          <!-- Add more submenu items as needed -->
        </div>
      </div>
      <a href="{{ site.github.url }}/ai" class="menu-link">Artificial Intelligence</a>
      <a href="{{ site.github.url }}/resources" class="menu-link">Learning Resources</a>
      <a href="{{ site.github.url }}/about" class="menu-link">About</a>
      <a href="{{ site.github.url }}/contact" class="menu-link">Contact</a>
      <!-- Social links -->
      <a href="https://x.com/hoathekiet" class="menu-link" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/hoathekiet/" class="menu-link" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/hoathekiet/" class="menu-link" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>
  </div>
</header>
