.site-header {
  min-height: 56px;
  width: 100%;
  position: fixed;
  background-color: white;
  box-shadow: 0 5px 6px -6px #bbb;
  z-index: 1000;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.site-title {
  font-size: 26px;
  font-weight: 400;
  line-height: 56px;
  margin: 0;
}

.menu-list {
  display: flex;
  align-items: center;
}

.site-header a {
  text-decoration: none;
}

.menu-link {
  padding: 5px 10px;
  text-decoration: none;
}

.menu-link:hover {
  text-decoration: none;
}

.mobile-menu-icon {
  display: none;
  cursor: pointer;
}

.mobile-menu-icon span {
  font-size: 30px;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1001;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.mobile-menu button.close-mobile-menu {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  float: right;
}

@media (max-width: 1000px) {
  .menu-list {
    display: none;
  }
  .mobile-menu-icon {
    display: block;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
