.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.site-title {
  font-size: 2em;
  margin: 0;
  text-decoration: none;
}

.menu-list {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.menu-list .dropdown {
  position: relative;
}

.menu-link {
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}

.menu-link:hover {
  text-decoration: none;
  color: #007acc;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  flex-direction: column;
}

.dropdown:hover > .dropdown-content {
  display: flex;
}

.dropdown-content .dropdown {
  position: relative;
}

.dropdown-content .dropdown .dropdown-content {
  top: 0;
  left: 100%;
  margin-left: 1px;
}

.dropdown-content .dropdown:hover > .dropdown-content {
  display: flex;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
  position: fixed; /* Thêm để cố định menu */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* Đặt lại nền trắng */
  z-index: 9999; /* Đảm bảo menu ở trên cùng */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black; /* Đặt lại màu chữ */
}

.mobile-menu.show {
  display: flex;
}

.close-mobile-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2em;
  background: none;
  border: none;
  color: black; /* Đặt lại màu chữ */
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-list {
    display: none;
  }
  .mobile-menu-icon {
    display: block;
    cursor: pointer; /* Thêm con trỏ chuột để biểu tượng hamburger dễ nhận biết là có thể click */
  }
  .mobile-menu {
    display: none;
  }
}

.site-title a {
  text-decoration: none;
}

.menu-list a {
  text-decoration: none;
}
