@mixin social-media-icon($color, $transition, $hover-effect: scale(1.1), $box-shadow: none) {
  transition: $transition, transform 0.3s ease;
  box-shadow: $box-shadow;
  &:hover {
    color: $color;
    transform: $hover-effect;
  }
}

// Định nghĩa màu và thời gian chuyển đổi
$envelope-color: #dd4b39;
$twitter-color: #1da1f2;
$instagram-color: #e4405f;
$github-color: #333;
$linkedin-color: #0077b5;
$facebook-color: #3b5998;
$google-color: #dd4b39;
$pinterest-color: #bd081c;
$medium-color: #00ab6c;
$codepen-color: #000000;
$rss-color: #ff9900;

$icon-transition-time: 0.3s;

.fa-envelope {
  padding: 5px;
  @include social-media-icon($envelope-color, $icon-transition-time);
}

.fa-twitter {
  padding: 5px;
  @include social-media-icon($twitter-color, $icon-transition-time, scale(1.1), 0px 2px 5px rgba(0, 0, 0, 0.2));
}

.fa-instagram {
  padding: 5px;
  @include social-media-icon($instagram-color, $icon-transition-time, rotate(360deg));
}

.fa-github {
  padding: 5px;
  @include social-media-icon($github-color, $icon-transition-time);
}

.fa-linkedin {
  padding: 5px;
  @include social-media-icon($linkedin-color, $icon-transition-time);
}

.fa-facebook {
  padding: 5px;
  @include social-media-icon($facebook-color, $icon-transition-time);
}

.fa-google-plus {
  padding: 5px;
  @include social-media-icon($google-color, $icon-transition-time);
}

.fa-pinterest {
  padding: 5px;
  @include social-media-icon($pinterest-color, $icon-transition-time);
}

.fa-medium {
  padding: 5px;
  @include social-media-icon($medium-color, $icon-transition-time);
}

.fa-codepen {
  padding: 5px;
  @include social-media-icon($codepen-color, $icon-transition-time);
}

.fa-rss-square {
  padding: 5px;
  @include social-media-icon($rss-color, $icon-transition-time);
}
