<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/style.css">
    <!-- Bao gồm MathJax 3 -->
    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
  </head>
  <body>
    <div class="container">
      {% include header.html %}
      <div class="breadcrumb">
        {% if page.breadcrumb %}
          <a href="{{ site.baseurl }}">Home</a>
          {% for crumb in page.breadcrumb %}
            > 
            {% if crumb.url %}
              <a href="{{ site.baseurl }}{{ crumb.url }}">{{ crumb.title }}</a>
            {% else %}
              {{ crumb.title }}
            {% endif %}
          {% endfor %}
        {% else %}
          <a href="{{ site.baseurl }}">Home</a>
          {% assign crumbs = page.url | split: '/' %}
          {% for crumb in crumbs %}
            {% if crumb %}
              > 
              <a href="{{ site.baseurl }}{% for i in (1..forloop.index0) %}/{{ crumbs[i] }}{% endfor %}">{{ crumb | capitalize }}</a>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
      <div class="content-wrapper">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
