<!doctype html>
<html>
  {% include head.html %}

  <body>
    <div class="container">
      {% include header.html %}
      <div class="breadcrumb">
        {% if page.breadcrumb %}
          <a href="{{ site.baseurl }}">Home</a>
          {% for crumb in page.breadcrumb %}
            > 
            {% if crumb.url %}
              <a href="{{ site.baseurl }}{{ crumb.url }}">{{ crumb.title }}</a>
            {% else %}
              {{ crumb.title }}
            {% endif %}
          {% endfor %}
        {% else %}
          <a href="{{ site.baseurl }}">Home</a>
          {% assign crumbs = page.url | split: '/' %}
          {% for crumb in crumbs %}
            {% if crumb %}
              > 
              <a href="{{ site.baseurl }}{% for i in (1..forloop.index0) %}/{{ crumbs[i] }}{% endfor %}">{{ crumb | capitalize }}</a>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
      <div class="content-wrapper">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
<!-- <script src="{{ site.github.url }}/assets/js/main.js"></script> -->
<script src="{{ site.baseurl }}/assets/js/main.js"></script>

  </body>
</html>
